// ==========================================================================
// Underline Helper Utility
// ==========================================================================

@import "~@mise-en-place/tools.underline";

/*doc
---
title: Underline
name: underline§
category: utilities
---

An underline that sits underneath a piece of text. It’s worth nothing that this underline only works in IE10+ because it’s using a linear gradient.

```html_example
<div class="h--page-title">
    This is a <span class="u-underline">long page title</span>
</div>
<h2>Another title <span class="u-underline">underlined</span></h2>
<p>A paragraph <span class="u-underline">with an underline.</span>
```

```dark_html_example
<div class="h--page-title u-inverse">
    This is a <span class="u-underline">long page title</span>
</div>
```
*/

// @TODO rename this to something like fancy-underline? seems too generic...
.u-underline {
    @include underline();

    &.u-inverse,
    .u-inverse & {
        @include underline(white);
    }
}
